h1 {
  text-align: center;
}

body {
  background-color: #333;
  color: white;
}

li {
  margin: 0 75 0 75;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.image {
  width: 100%;
  height: auto;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  text-decoration: underline;
}

.centered {
  text-align: center;
}


#aboutmelines {
  border: none;
  border-top: 1px solid white;
  margin: 300px 0 0 0;
}

#colombiapic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


#imagequeens {
  
  margin: 0 0 0 20;
  float: right;
  height: 300;
}

#familypic {
  margin: 0 0 0 20;
  float: right;
  width: 400;
  height: auto;
}

#tennispic {
  width: 1000;
  height: auto;
}

#mybutton {
  text-align: center;
}

#mybutton button {
  background-color: black; 
  color: white; 
  padding: 10px 10px; 
  border: none; 
  border-radius: 5px;
  cursor: pointer; 
}

#mybutton button:hover {
  background-color: white; 
  color: #000;
}

#tkepic {
  width: 1000;
  height: auto;
}

#topmenu {
  background-color: #333;
  text-align: center;
  border: 10px;
  border-color: black;
  border-style: solid;
}

.bodyBlock {
  max-width: 600px;
  margin: 20px auto;
  background-color: #333;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
  margin-top: 20px;
}

.login .field {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.login .value {
  margin-bottom: 15px;
}

.login .input-field {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.login .entry_buttons {
  background-color: #000;
  color: #333;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.login .entry_buttons:hover {
  background-color: #222;
}

a:hover {
  text-decoration: underline;
}